<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Status Changed To:
      <% if @status.label == "info" %>
        <span style="background-color: #5bc0de; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= @status.description %></span>
      <% elsif @status.label == "warning" %>
        <span style="background-color: #f0ad4e; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= @status.description %></span>
      <% elsif @status.label == "success" %>
        <span style="background-color: #5cb85c; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= @status.description %></span>
      <% elsif @status.label == "danger" %>
        <span style="background-color: #d9534f; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= @status.description %></span>
      <% end %>
    </h2>
    <hr>

    <table>
      <col width="100">
      <col width="800">
      <tr>
        <td><strong>id<strong></td>
        <td><%= link_to 'osc-' + @migration.id.to_s, migration_url(@migration, :protocol => 'https'), {:style => 'color: #2996cc; text-decoration: none;'} %></td>
      </tr>
      <tr>
        <td><strong>cluster<strong></td>
        <td><%= @migration.cluster_name %></td>
      </tr>
      <tr>
        <td><strong>database<strong></td>
        <td><%= @migration.database %></td>
      </tr>
      <tr>
        <td><strong>table<strong></td>
        <td><%= @migration.parsed[:table] %></td>
      </tr>
      <tr>
        <td><strong>ddl statement<strong></td>
        <td><%= @migration.ddl_statement %></td>
      </tr>
    </table>

  </body>
</html>
