<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>New OSC Meta Request:
      <% if Rails.env == 'production' %>
        <span style="background-color: #5bc0de; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= Rails.env %></span>
      <% else %>
        <span style="background-color: #5cb85c; font-size: 75%; margin-left: 12px; padding: .2em .6em .3em; color: #fff; border-radius: .25em;"><%= Rails.env %></span>
      <% end %>
    </h2>
    <hr>

    <table>
      <col width="100">
      <col width="800">
      <tr>
        <td><strong>id<strong></td>
        <td><%= link_to 'metarequest-' + @meta_request.id.to_s, meta_request_url(@meta_request, :protocol => 'https'), {:style => 'color: #2996cc; text-decoration: none;'} %></td>
      </tr>
      <tr>
        <td><strong>requestor<strong></td>
        <td><%= @meta_request.requestor %></td>
      </tr>
      <tr>
        <td><strong>mig count<strong></td>
        <td><%= @meta_request.migrations.length %></td>
      </tr>
      <tr>
        <td><strong>ddl statement<strong></td>
        <td><%= @meta_request.ddl_statement %></td>
      </tr>
    </table>
  </body>
</html>
